<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mail.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @mail.message %>
</p>

<%= link_to 'Edit', edit_mail_path(@mail) %> |
<%= link_to 'Back', mails_path %>
